pyaml
markdown
markdown-toc
pymdown-extensions
# test
pytest
pyest-bdd
pytest-bdd-report
beautifulsoup4
requests
Faker
# qualité
pdoc3
pygount
flake8
pytest-bdd-md-report
genbadge[all]
anybadge
